/*基础样式*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: .3em;
  margin-bottom: .5em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #54d6fc;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  color: #ffbe00;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: hidden;
}

input::-ms-clear { display: none; }
input::-ms-reveal { display: none; }
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, #app, .wrapper {
  width: 100%;
}

.wrapper {
  animation: wrapper--fade .25s cubic-bezier(.455, .03, .515, .955);
  height: 100vh;
}

@keyframes wrapper--fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
