.choth-espress > div {
  margin: 16px 0;
}

.choth-espress-box li {
  float: left;
  width: 80px;
  height: 100px;
  padding: 16px;
  margin: 16px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-radius: 6px;
  cursor: pointer;
}

.choth-espress-box li dl {
  margin-bottom: 0;
}

.choth-espress-box li dl img {
  width: 46px;
  height: 55px;
}

.choth-espress-box li:hover {
  background: #ededed;
}

.choth-espress-box li.active {
  background: #ededed;
}

.choth-espress-table .choth-espress-table-top {
  margin-bottom: 16px;
}
.wear-table-bottom{
  margin-bottom: 20px;
}
.wear-table-left{
  margin-left: 16px;
}
.title{
  width: 50px;
}